---
layout: default
---
<article class="post h-entry" itemscope itemtype="http://schema.org/BlogPosting">

  <header class="post-header">
   <!--  <script src="{{ "/assets/js/message.js" | relative_url }}"></script> -->
    <h1 class="post-title p-name" itemprop="name headline">{{ page.title | escape }}</h1>
    <p class="post-meta">
      {%- assign date_format = site.minima.date_format | default: "%m %-d, %Y" -%}
      <time class="dt-published" datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
        {{ page.date | date: date_format }} 
      </time>
      {%- if page.modified_date -%}
        ~ 
        {%- assign mdate = page.modified_date | date_to_xmlschema -%}
        <time class="dt-modified" datetime="{{ mdate }}" itemprop="dateModified">
          {{ mdate | date: date_format }}
        </time>
      {%- endif -%}
      {%- if page.author -%}
        • {% for author in page.author %}
          <span itemprop="author" itemscope itemtype="http://schema.org/Person">
            <span class="p-author h-card" itemprop="name">{{ author }}</span></span>
            {%- if forloop.last == false %}, {% endif -%}
        {% endfor %}
      {%- endif -%}</p>
  </header>

  <div class="post-content e-content" itemprop="articleBody">
    {{ content }}
  </div>

  {%- if site.disqus.shortname -%}
    {%- include disqus_comments.html -%}
  {%- endif -%}
  <div >本文字数：{{ page.content | strip_html | strip_newlines | split: "" | size }}</div>
  <div id="message">message </div>
  <p>         <div style="width:300px;margin:0 auto; padding:20px 0;">
    <center><a target="_blank" href="https://beian.miit.gov.cn/" >鄂ICP备19014071号-1 &copy;zf 2018-2020</a><br/>
                <a target="_blank" href="http://www.beian.gov.cn/portal/registerSystemInfo?recordcode=42018502003891">鄂公网安备 42018502003891号</a></center>
            </div>
         </p>
  <script type="text/javascript">
    $(document).ready(function(){
      $("#message").html("test message") ;

      var hm = document.createElement("script");
      hm.src = "https://hm.baidu.com/hm.js?54cc97442c118625e6e830017ff54494";
      var s = document.getElementsByTagName("script")[0]; 
      s.parentNode.insertBefore(hm, s);
    });

  </script>
  <a class="u-url" href="{{ page.url | relative_url }}" hidden></a>
</article>
